.sideBar {
  position: fixed;
  text-align: center;
  background-color: #282c34;
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.sideBar .navLinks {
  text-align: left;
  padding-left: 25%;
}

.brandLogo img {
    width: 65%;
}