
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}

::selection {
  background: #a3a5f7b4; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #a3a5f7b4; /* Gecko Browsers */
}

body {
  background-color: #f2edfc;
  color: #282c34;
  position: relative;
}
 a {
   text-decoration: none;
 }

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: #282c34;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: #ab90f7;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #282c34;  /* creates padding around scroll thumb */
}

.recentDeliveriesCards::-webkit-scrollbar,
.orderStats::-webkit-scrollbar{
  height: 6px;
}
.recentDeliveriesCards::-webkit-scrollbar-track,
.orderStats::-webkit-scrollbar-track {
  background: #282c34; 
}
.recentDeliveriesCards::-webkit-scrollbar-thumb,
.orderStats::-webkit-scrollbar-thumb {
  background: #ab90f7;
  border-radius: 10px;
}

.transactionHistories::-webkit-scrollbar {
  width: 6px;   /* width of the entire scrollbar */
}
.transactionHistories::-webkit-scrollbar-track {
  background: #282c34ce;
  border-radius: 20px;
}
.transactionHistories::-webkit-scrollbar-thumb {
  background-color: #ac90f7c9;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}